body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
/* common */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: 156px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
  padding: 24px 0;
}
.logo-text {
  color: #2e2f42;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 24px 0;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
/* section one */
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-hero {
  width: 1440px;
  height: 600px;
  padding: 188px 0;
  margin-left: 12px;
  margin-right: 12px;
}

.hero {
  display: block;
  background: #2e2f42;
}

.hero-tittle {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: 471px;
  margin-right: 473px;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
/* section two */
.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
}
.top-title {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.post-list {
  display: flex;
  gap: 24px;
}
.list-item {
  width: calc((100% - 72px) / 4);
}
.medium-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section three */
.container .portfolio {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.team {
  background-color: #f4f4fd;
}
.top-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list-item {
  background-color: #ffffff;
}
img {
  display: block;
}
.user {
  background-color: #fff;
}
.medium-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section four */
.top-title .portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* footer */
.container-footer {
  width: 264px;
  padding: 100px 0 100px;
  margin-left: 156px;
  margin-right: 1020px;
}
.footer {
  background: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer .logo-text {
  color: #f4f4fd;
}
.footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
