body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
/* common */
.container {
  max-width: 1158px;
  padding: 15px 0;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 24px 0;
  margin-right: 76px;
}
.logo-text-header {
  color: #2e2f42;
}
.header-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adress-link {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
.adress-link:active {
  color: #404bbf;
}
/* section one */
.hero {
  background: #2e2f42;
  padding: 188px 0;
}
.hero-tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
/* section two */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.post-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.list-item {
  width: calc((100% - 72px) / 4);
}
.medium-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.post-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section three */
.team {
  background-color: #f4f4fd;
}
.top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-wrap {
  display: flex;
  gap: 24px;
}
.list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72) / 3);
}
.wrap-text {
  padding: 32px 0;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  width: 264px;
}
.medium-title-wrap {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-item:last-child {
  margin-right: 0;
}
/* section four */

.top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.list-item {
  width: calc((100% - 48px) / 3);
}
.port-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}
.medium-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-text {
  color: #f4f4fd;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
