.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-item,
.adress {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo {
  display: block;
  padding: 12px 0;
}
.logo-text-header {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-item {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .adress {
    font-style: normal;
    display: block;
  }
  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link.current {
    position: relative;
  }
  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adress-link {
    display: block;
    font-size: 12px;
    color: #434455;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-link:hover,
  .adress-link:focus,
  .header-link:hover,
  .header-link:focus,
  .header-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .adress-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .adress-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  position: absolute;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}
.nav-mobile {
  margin-bottom: auto;
}
.nav-mobile-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.nav-mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-mobile-link:hover,
.nav-mobile-link:focus {
  color: #404bbf;
}
.mobile-adress {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-adress-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
}
.mobile-adress:hover,
.mobile-adress:focus {
  color: #4d5ae5;
}
.mobile-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #region mobile menu */
/* #region section one */
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/dark-bg@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 320px;
  min-height: 432px;
}
.hero-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 72px 52px;
}
.hero-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
@media screen and (min-width: 320px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/dark-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg1@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 768px;
    min-height: 436px;
  }
  .hero-tittle {
    font-size: 56px;
    padding-top: 112px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg2@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office1@1x.jpg);
    width: 1440px;
    min-height: 600px;
  }
  .hero-tittle {
    padding-top: 188px;
    padding-bottom: 48px;
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office2@2x.jpg);
  }
}
/* #endregion section one */
/* #region section two */

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  width: 288px;
  margin-top: 96px;
  margin-bottom: 96px;
}
.list-item {
  width: 100%;
}
.icons {
  display: none;
}
.medium-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.post-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .post-list {
    flex-direction: row;
    width: 736px;
    gap: 24px;
  }
  .list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
  .list-item:last-child {
    margin-bottom: 0;
  }
  .medium-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .post-list {
    justify-content: space-between;
    width: 1128px;
  }
  .list-item {
    width: calc((100% - 72px) / 4);
  }
  .icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .medium-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .post-text {
    font-weight: 400;
  }
}
/* #endregion section two */

/* section three */
.team {
  min-width: 320px;
  background-color: #f4f4fd;
}
.top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 96px;
}
.list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}
.wrap-text {
  padding: 32px 0;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}
.medium-title-wrap {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  margin-top: 8px;
}
.list-item:last-child {
  margin-right: 0;
}
.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background: #404bbf;
}
@media screen and (min-width: 768px) {
  .team {
    min-width: 768px;
  }
  .list-wrap {
    gap: 64px;
  }
  .team-item {
  }
}
@media screen and (min-width: 1158px) {
}
