.logo {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  padding: 5px 0px;
  width: 115px;
  height: 24px;
}
.page-nav {
  width: 1440px;
  height: 72px;
}
