body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #region Header */
.container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.container .header {
  max-width: 1440px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.logo-text {
  color: #2e2f42;
}
.adress {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
/* section one */
.container .hero {
  max-width: 1440px;
  height: 600px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 12px;
  margin-right: 12px;
}

.hero {
  display: block;
  background: #2e2f42;
}

.hero-tittle {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  display: block;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
/* section two */
.container .post {
  max-width: 1128px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}
.medium-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section three */
.container .portfolio {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.team {
  background-color: #f4f4fd;
}
.top-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list-item {
  background-color: #ffffff;
}
img {
  display: block;
}
.user {
  background-color: #fff;
}
.medium-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section four */
.top-title .portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* footer */
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer .logo-text {
  color: #f4f4fd;
}
.footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
